
/* default */
*{
    margin: 0;
    

}
body{
    font-family: monospace;
    background-color:antiquewhite;
    margin: 15px 40px;
    font-size: 21px;
}
h1{
  font-size: larger 22px;
  
 

}

h2{
    font-size: 20px;
    font-weight: bold ;
    font-family: BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
     'Helvetica Neue', sans-serif;
    margin-bottom: 8px;
    color:rgb(22, 57, 22);
    text-shadow: cadetblue;

}

h3{
    font-size:18px 

}
hr{
    color: bold cadetblue;
}
nav{
    text-align: center;
}
/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(47, 47, 65); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #999999; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  

.heading{
    margin: 0 auto;
    text-align: center;
}

.colums{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    box-sizing: border-box;
    
}

@media (max-width: 600px){
    .colums{
        flex-direction: column;
        margin: 0px auto;
        box-sizing: border-box;
        
    }
}

.projects, .intro-text, .fun-facts {
    
    border: 1.5pt salmon groove;
    font-size: 15px;
    font-weight: bold;
    color: rgb(33, 27, 27);
    text-align: center;
    margin: 0 7px;
    padding: 20px 10px;
    width:400px;
    height: auto;
}
/*button......*/
button{
    border-bottom: #ffffff 1pt groove;
    background-color:rgb(75, 198, 205);
    border-radius: 11%;
    width: fit-content;
    }

button:hover{background-color:rgb(128, 121, 108);}

button:focus{background-color:rgb(116, 39, 39);}

a {
    color: rgb(16, 17, 16);
    font-weight: bold;
    font-size: 1.2rem;
    }

a.button{
    color:rgb(24, 34, 24);
    text-decoration: none;
    }

a:visited {
    color: rgb(211, 25, 25);
    }

a:active {
    color: rgb(51, 51, 155);
}


/*about main section*/
.about-div{
    border: groove 1pt salmon;
    text-align: center;
    padding: 10%;

    
}
/* footer ********/
footer{
    position:relative;
    bottom: 0;
    display: flex;
    margin-top:auto;
    margin-top: 15px;
}
