<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="/test/test.css">
    <title>Samuel Aarga</title>
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <!-- load jquery from node_modules -->
    <!-- <script src="node_modules/jquery/dist/jquery.min.js"></script>  -->
    <!-- <script type="application/javascript" src="node_modules/jquery/dist/jquery.min.js"></script> -->
    

     <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 

    <!-- Load htmx from a CDN -->
    <script src="https://unpkg.com/htmx.org"></script>
    
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="nav_control">
                <h1 class="header_icon">☕ sipping coffee and innovating the future</h1>
                <p class="header_intro">Hi, Welcome to my website.</p>
                <nav class="header_nav">
                    <!-- Use hx-get to load each page content from another URL -->
                    <!-- Use hx-target to specify where to put the response -->
                    <!-- Use hx-swap to specify how to update the target element -->
                    <!-- Use hx-push-url to update the browser URL with each page URL -->
                    <a href="About.html" hx-get="/About.html" hx-target="#main-content" hx-swap="outerHTML"
                        hx-push-url="true">About</a>
                    <a href="https://www.linkedin.com/in/aarga-sonter" target="_blank">linkedin</a>
                    <a href="https://github.com/asapsonter" target="_blank">Github</a>
                    <a href="https://twitter.com/asapsonter" target="_blank">X</a>
                    <a href="https://discord.gg/tvVja6cR" target="_blank">Discord</a>
                    <a href="https://reddit.com/u/Asap_sonter" target="_blank">Reddit</a>
                    <!-- <a href="https://twitter.com/asapsonter" hx-get="https://twitter.com/asapsonter" hx-target="#main-content" hx-swap="outerHTML" hx-push-url="true">X</a>
          <a href="https://www.linkedin.com/in/aarga-sonter" hx-get="https://www.linkedin.com/in/aarga-sonter" hx-target="#main-content" hx-swap="outerHTML" hx-push-url="true">linkedin</a>
          <a href="https://github.com/asapsonter" hx-get="https://github.com/asapsonter" hx-target="#main-content" hx-swap="outerHTML" hx-push-url="true">Github</a> -->
                </nav>
            </div>
        </div>
    </div>
    <!-- Use an id for this main element, so that it can be targeted by HTMX -->
    <main id="main-content" class="main_content">
        <!-- Add a class for each section, so that they can be styled by CSS -->
        <section class="section">
            <div class="news_div">
                testing news
                <div class="grid_for_news_container">
                    <div class="grid-item"></div>
                    <!-- <div class="grid-item2"> 2</div>
                    <div class="grid-item3"> 3</div>
                    <div class="grid-item4"> 4</div> -->

                </div>

            </div>
        </section>
    </main>
    <footer>
        <div class="footer_div">
            <div class="find_text">Find an issue with this page? <a class="find_issue_link" href="https://github.com/asapsonter/web">Fix it on
                    GitHub</a></div>
            <div class="email_me">
                Need help? Email <a href="mailto:sam.sonter@hotmail.com">My
                        Email</a>
            </div>
            <div id="copyRight">
                Copyright © asapsonter <br>
            </div>

        </div>
    </footer>
    <script src="/test/test.js"></script>
</body>

</html>